

# Virtual Environments
.venv/
venv/
ENV/
env/
/bin/
/include/
/lib/
/share/
pip-selfcheck.json

# Databases
db.sqlite3
db.sqlite3-journal
db.sqlite3-shm
db.sqlite3-wal
db_dump.txt
db_dump_error.txt

# Local Environment Variables & Secrets
.env
.env.*

*.local


# OS Files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store



# Ignore any other files or directories that are not relevant to the project
.env/
